/**
 * base.css
 * 
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * https://codepen.io/kevinpowell/pen/abMdOpp
 *
 * Ordered and structured according to STyLEs published conventions.
 */
/* ========================================================================
  BASE   - Primary HTML elements such as the body, form tags, links...
  ======================================================================= */


:root { 
  scroll-behavior: smooth;
  accent-color: var(--accent-color, rgb(0 120 215));
} :root, *, *::before, *::after { box-sizing: border-box; }
html { position: relative; overflow-x: hidden; scrollbar-gutter: stable; }

::-webkit-datetime-edit-ampm-field:focus,
::-webkit-datetime-edit-day-field:focus,
::-webkit-datetime-edit-hour-field:focus,
::-webkit-datetime-edit-millisecond-field:focus,
::-webkit-datetime-edit-minute-field:focus,
::-webkit-datetime-edit-month-field:focus,
::-webkit-datetime-edit-second-field:focus,
::-webkit-datetime-edit-week-field:focus,
::-webkit-datetime-edit-year-field:focus,
::-webkit-datetime-edit-text:focus {
  color: var(--accent-contrast-color, rgb(255 255 255));
  background-color: var(--accent-color, rgb(0 120 215));
}
::-moz-color-swatch { border: none 0;
} ::-webkit-color-swatch { border: none 0; }
input[type="text"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

* { margin: 0; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px; line-height: calc(1.2rem + .5em);
  -webkit-font-smoothing: antialiased;
  padding: var(--block-padding, 1rem) var(--inline-padding, .25rem);
} @media screen and (min-width: 50rem) {
  body { margin: 0 auto; }
}

:any-link { color: var(--accent-color, rgb(0 120 215));
} p > :any-link { hyphens: none;
} p a[href] { text-decoration: underline;
} a[href*="//"]::after {
  content: ''; display: inline-block;
  width: 1.25rem; height: 1rem;
  text-indent: .75rem; overflow: hidden;
  color: inherit; background-color: currentColor;
  mask: var(--icon-x12-external) top center / .75rem no-repeat;
} a:focus :any-link:focus, p > :any-link:focus,
a:hover :any-link:hover, p > :any-link:hover {
  color: var(--active-accent-color, rgb(0 60 255));
} a:target { background-color: var(--highlight-color, yellow); }

/** footnote referance **/
body > * { counter-reset: footnotes; }
body > * a[id*="fn-ref:"] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
  &:target, &:active, &:focus { background-color: var(--highlight-color, yellow); }
  &::after {
    content: '[' counter(footnotes) ']';
    vertical-align: super;
    font-size: .6em;
    margin-left: 2px;
    color: var(--accent-color, rgb(0 120 215));;
    text-decoration: underline;
    cursor: pointer;
  }
} 

ul, ol {
  padding-top: 1rem;
} nav ul, nav ol, menu ul, menu ol { padding: 0;
} legend + ul, legend + ol {
  padding-top: 0;
}

li { padding-bottom: .5rem;
  line-height: 1.35rem;
} nav li, menu li { list-style: none;
  line-height: calc(1.2rem + .5em);
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0; max-width: 36em;
} main > h1, main > header > h1 {
  line-height: 2.5rem; 
  text-transform: uppercase;
} h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 0;
  letter-spacing: .05em;
  text-wrap: balance;
  line-height: 110%;
} header > h1:first-child { margin-top: .25rem;
} @media screen and (min-width: 35rem) {
  header > h1:first-child { margin-top: 1rem; }
} p {
  text-wrap: pretty; margin-bottom: .75rem;
  &:last-child, &:has( + footer ) { margin-bottom: .25rem; }
} img + p { margin-top: .75rem;
} header > p { font-weight: bold;
} body > header > form > p { max-width: 100%; } 
body > header > form > p:has( + p ) { margin-bottom: 0; }
/* form > header > p { font-weight: normal; }
form > header h2:has( + p ) { display: inline-block; }
form > header h2 + p { display: inline; }
form > header h2 + p::before { content: " - "; } */

abbr { text-transform: none; }

dialog {
  position: fixed; z-index: 1000;
  top: var(--inline-padding, .25rem); right: var(--inline-padding, .25rem);
  bottom: var(--inline-padding, .25rem); left: var(--inline-padding, .25rem);
  max-width: auto; max-height: calc(100vh - (var(--inline-padding, .25rem) *2));
  padding: var(--inline-spacing, .5rem);
  overflow: scroll;
  border-radius: var(--border-radius, .5rem);
  background-color: rgb(255 255 255);
  box-shadow: .5rem .5rem 1rem rgb(0 0 0 / .5);
} @media screen and (min-width: 46.875rem) { /**750px**/
  dialog {
    top: 50%; right: auto; bottom: auto; left: 50%;
    width: 80vw; max-width: 40rem;
    transform: translate(-50%, -50%);
  }
} dialog::backdrop { background-color: rgb(0 0 0 / .33); }

img, picture, video, canvas, svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  font-style: italic;
  shape-margin: .25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0 0 0 / .125);
} main > img { margin: 0; }

blockquote {
  position: relative;
  margin: 2rem auto; padding: 0 2.5rem;
  max-width: 34em; text-align: center;
  &::before, &::after {
    position: absolute;
    top: .75rem; font-size: 4rem;
    text-wrap: balance;
  } &::before { content: '\201C'; left: 0;
  } &::after { content: '\201D'; right: 0; }
}

input, button, textarea, select { font: inherit; }
input, textarea { caret-color: var(--accent-color, rgb(0 120 215)); }
fieldset {
  padding: .25rem var(--inline-padding, .25rem) .25rem;
  border: none 0;
  > legend:first-child {
    float: left;
    height: 1.7rem;
    padding: 0 .25rem 0 0;
    + * { clear: left; }
  }
}

label:has( + input[type="file"] ) {
  display: inline-flex;
  padding: 0 .5rem;
  min-width: 4rem;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #F0F0F0;
  border: 1px solid #8F8F8F;
  border-radius: 4px;
  transition: background-color 0.15s ease, border-color 0.15s ease;
  &:hover { background-color: #E5E5E5; border-color: #7A7A7A; }
  &:active { background-color: #D5D5D5; border-color: #666666; }
  &:focus-visible { outline: 2px solid #005FCC; outline-offset: 2px; }
  &:has( + input:disabled ) { color: #79797A;
    background-color: #F4F4F6; border-color: #C4C4CB;
  }
} label:has( + input[type="file"]:focus ) {
  background-color: #d5d5d5; border-color: #666666;
  outline: solid var(--active-accent-color, rgb(0 60 255)) .0625rem;
}
label + input[type="file"] {
  float: right;
  width: 0; height: 0;
  margin: 0; padding: 0;
  outline: none 0;
}

figure {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: var(--block-spacing, 1.5rem);
  padding-top: var(--inline-spacing, 1rem);
} @media screen and (min-width: 53rem) {
  figure { 
    margin-block: var(--block-spacing, 1.5rem);
    margin-inline: calc(var(--inline-spacing, 1rem)*-1);
    padding-inline: var(--inline-spacing, 1rem);
    width: calc(100% + (var(--inline-spacing, 1rem)*2));
  }
}
figcaption { min-height: 1.75rem; line-height: 1.5rem; }

option { white-space: no-wrap;}

:is(main, aside, article, section) > a:first-child,
main > form:only-child > a:first-child {
  position: relative;
  float: left; width: 1rem;
  margin-left: -100rem;
  line-height: 1rem;
  &:focus { margin-left: 0; }
} 

:is(main, aside, article, section) {
  max-width: 50rem; margin-inline: auto;
  &:has( > form:only-child) { max-width: 100%; }
}

::selection  {
  color: var(--accent-contrast-color, rgb(255 255 255));
  background-color: var(--accent-color, rgb(0 120 215));
}

.field, .file { padding: .25rem 0; }
.search.input { display: inline; }
