/**
 * state-form-controls.css
 *
 * Ordered and structured according to STyLEs published conventions.
 */
/* ===============================================================================================
   STATE   - How thing may change based of user interaction or through JavaScript DOM changes,
             e.g. errors, hidden, expanded, active
   ============================================================================================ */

@keyframes inFadeOut {
  from { opacity: 1; z-index: 1; }
  50% { opacity: 1; z-index: 1; }
  to { opacity: 0; z-index: 1; }
}

@keyframes outFadeIn {
  from { opacity: 0; }
  50% { opacity: 0; }
  to { opacity: 1; }
}

@keyframes spinAndPulse {
  from { transform: scale(1) rotate(0deg); }
  50% { transform: scale(.5) rotate(180deg); }
  to { transform: scale(1) rotate(360deg); }
}
 
@keyframes bgSwipe {
  0% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}