
/*** DEFAULT WIREFRAME COLOURS ***/
* > * {
  color: rgb(0 0 0 / .5) !important;
  background-color: rgba(0 0 0 / .05) !important;
}
body, dialog, a:not([id*="fn-ref:"]), a[id*="fn-ref:"]:focus,
a[id*="fn-ref:"]::after, label, legend, input[type=submit], button,
.hint, .field.select-many:focus-within > ul > li,
.field.select-many:focus-within > ol > li {
  color: rgb(0 0 0);
  background-image: none !important;
  background-color: rgb(255 255 255) !important;
}
.field.select-many:focus-within > ul > li,
.field.select-many:focus-within > ol > li { z-index: 4; }
p, h1, h2, h3, blockquote, address {
  background-color: rgb(255 0 0 / .1) !important;
}
img { opacity: .2 !important; }
/*** END ***/
